<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{name}}</h1>

        <input type="radio" id="woman" value="woman" v-model='sex'><label for="woman">男</label>
        <input type="radio" id="man" value="man" v-model='sex'><label for="man">女</label>

        <!-- selectbox  下拉框 -->
        <select v-model="choose" @change='fn()'>
            <option value="apple">苹果</option>
            <option value="banana">香蕉</option>
            <option value="orange">橘子</option>
        </select>
    </div>
</body>
</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            name:"珠峰",
            sex:'man',
            choose:'apple'
        },
        methods:{
            fn(){
                console.log(this.choose)
            }
        }
    })
</script>