<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{name}}</h1>
        <input type="text" @keydown.13='add' v-model='qqq'>
        <ul>
            <li v-for='(v,i) in ary'>
                {{v}}
                <button @click='del(i)'>x</button>
            </li>
        </ul>
    </div>
</body>
</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            name:"珠峰",
            ary:[],
            qqq:undefined
        },
        methods:{
            add(e){
                if (this.qqq) {
                    this.ary.unshift(this.qqq);
                }
                this.qqq=''
            },
            del(n){
                console.log(n);
                this.ary.splice(n,1)
            }
        }
    })
</script>