* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}
html .full,
body .full {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
html .full li,
body .full li {
  width: 10%;
  background: #d6cbb4;
  height: 5%;
}
